.advantages {
    padding: 70px 0px 65px 0px;
    background-color: #F6F6F6;
    &__title {
        text-align: center;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 60px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 278px;
        text-align: center;
        color: #0D0D0D;
        img {
            margin-bottom: 35px;
        }
        h5 {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
        }

        p span {
            color: $main-color;
            text-decoration: underline;
        }
    }
}