.footer {
    height: 630px;
    position: relative;
    color: #fff;
    &__panel {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 50px 56px 50px;
        text-align: center;
    }
    &__address {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 35px;
    }
    &__phone {
        font-weight: 700;
        font-size: 20px;
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 35px;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    &__socialwrapper {
        display: flex;
        justify-content: space-between;
        width: 210px;
        margin: 0 auto;
    }
    &__sociallink {
        width: 52px;
        height: 52px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms all linear;
        &:hover {
            background-color: rgba(255, 255, 255, .1);
            transform: scale(1.1);
        }
    }
}